@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: normal;
  src: local('Bebas Neue'), local('Bebas'), url(BebasNeue.otf) format('opentype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
.bg {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1000;
    background-image: url("images/comorosbg.jpg");
    background-size: cover;
}
header {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.3);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 8em;
    margin: 0;
    font-family: "Bebas Neue", "Open Sans", sans-serif;
    transform: rotate(5deg);
}
h2 {
    font-family: "Bebas Neue", "Open Sans", sans-serif;
    transform: rotate(-2deg);
}
.menu-button {
    position: fixed;
    top: 20px;
    z-index: 1000;
    cursor: pointer;
    width: 50px;
    height: 30px;
    left: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menu-bar {
    width: 100%;
    height: 1px;
    background-color: #fff;
    border-radius: 8px;
}
.menu-bar:after, .menu-bar:before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #fff;
}
.menu-bar:after {
    top: 20px;
}
.menu-bar:before {
    top: 10px;
}
.menu-cover {
    width: 6vw;
    height: 100vh;
    position: fixed;
    bottom: 100vh;
    background: #222;
}
.menu {
    position: fixed;
    height: 100vh;
    width: 94vw;
    padding: 0;
    list-style-type: none;
    margin: 0;
    left: 100vw;
    z-index: 100;
}
.menu li {
    margin-right: -4px;
    display: inline-block;
    background-size: cover;
    background-color: #111;
}
.menu a {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 47vw;
    color: white;
    text-decoration: none;
    font-family: "Bebas Neue";
    font-size: 3em;
    background-color: rgba(0,0,0,.5);
    transition: .5s;
}
.menu li:hover a {
    background-color: transparent;
    transition: .5s;
}

.menu li:nth-child(1) {background-image: url(images/menu/1.jpg)}
.menu li:nth-child(2) {background-image: url(images/menu/2.jpg)}
.menu li:nth-child(3) {background-image: url(images/menu/3.jpg)}
.menu li:nth-child(4) {background-image: url(images/menu/4.jpg)}